Gui/__pycache__/__init__.cpython-39.pyc
Gui/__pycache__/GeneralWindow.cpython-39.pyc
Gui/__pycache__/MainWindow.cpython-39.pyc
Gui/__pycache__/MergeWindow.cpython-39.pyc
Gui/__pycache__/SplitWindow.cpython-39.pyc
